.༼╯°□°༽╯{
  display: none;
}

.ಠ_ಠ {
  display: block;
}

.ಠ_ರೃ {
  display: flex;
  align-items: center;
  justify-content: center;
}

.༼⊙_⊙༽ {
  margin: 0;
  padding: 0;
}

.ʕ•ᴥ•ʔ {
  width: 100%;
  height: 100%;
}

.ಠ෴ಠ {
  float: none;
  clear: both;
}

.凸ಠ益ಠ凸 {
  height: 0;
  width: 0;
}

.ಥ_ಥ {
  margin-top: 0;
}

.⊙﹏⊙ {
  margin-bottom: 0;
}

.ㅇㅅㅇ {
  padding: 2rem;
}

.◕‿◕ {
  text-align: center;
}

.◕‿↼ {
  text-align: right;
}

.↼‿◕ {
  text-align: left;
}

.❤️️❤️️❤️️ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.💔💔💔 {
  width: 50%;
}

.👻 {
  opacity: 0;
}

.👀 {
  opacity: 1;
}

.😺 {
  clear: both;
}

.🙈🙉🙊{
  visibility: hidden;
  opacity: 0;
  display: none;
}

.👽 {
  cursor: crosshair;
}

.👌 {
  border-radius: 50%;
}

.👍 {
  margin: 0 auto;
}

.👉 {
  cursor: pointer;
}

.✌️ {
  column-count: 2;
}

.☁️ {
  float: left;
}

.🌪 {
  float: right;
}

.⚫️ {
  background: black;
}

.⚪️ {
  background: white;
}

.🔲 {
  color: black;
}

.🔳 {
  color: white;
}

.🌲🌲🌲 {
  cursor: wait;
}

.🆒 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.🚽 {
  bottom: 0;
}

.⛅️ {
  top: 0;
}

.🎨🎨🎨 {
  font-size: 100em;
}

.🔥🔥🔥 {
  display: none;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  min-width: 0;
  max-width: 0;
  min-height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  list-style: none;
  content: '';
  background: none;
  background-repeat: no-repeat;
  background-size: 0;
  color: rgba(0, 0, 0, 0);
  font-size: 0;
  font-family: "";
  font-weight: 100;
  letter-spacing: 0;
  line-height: 0;
  text-indent: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  fill: rgba(0, 0, 0, 0);
  animation: none;
  transition: none 0s;
  transform: none;
  size: 0;
  x: 0;
  y: 0;
  z-index: -9999;
}
